@use "./params.sass" as *

html
  background-color: $background-color
  color: $text-color

input
  border: none
  background-color: transparent
  outline: none
  -webkit-appearance: none
  color: $headers-color
