@use "../../assets/style/params.sass" as *

.projects-page
  display: flex
  justify-content: center

  > div
    max-width: 1000px
    width: 100%
    display: flex
    flex-direction: column
    gap: toRem(10)

  &__empty-list-text
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    margin-top: toRem(40)

  &__header
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: toRem(10)
    background-color: $dark-background-color
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4)
    padding: toRem(25) toRem(25) 0 toRem(25)

    > div:first-child
      display: flex
      justify-content: space-between
      align-items: center
      gap: toRem(10)
      height: toRem(40)

      h2
        color: $headers-color
        font-size: toRem(28)
        text-transform: uppercase

  &__projects-list
    display: flex
    flex-direction: column
    gap: 10px

  .project-card
    display: flex
    justify-content: space-between
    align-items: start
    background-color: $dark-background-color
    text-decoration: none

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4)
    padding: toRem(25)

    &:hover

      > div > span
        color: $primary-color

      .project-card__delete-button
        transition: .3s
        opacity: 1

    > div
      display: flex
      flex-direction: column
      gap: toRem(30)

      > span
        font-size: toRem(20)
        color: $headers-color
        text-transform: uppercase
        transition: .3s

    &__delete-button
      transition: 0s
      opacity: 0
      fill: $headers-color

      &:hover
        filter: brightness(.5)


  &__create-button-container
    display: flex
    align-items: center
    gap: toRem(5)
    height: toRem(36)

    svg
      cursor: pointer

      path
        fill: #ffffff
        transition: .3s

      &:hover
        path
          fill: $primary-color

  &__create-button
    width: max-content
    display: flex
    align-items: center
    gap: toRem(5)
    padding: toRem(10) toRem(32)
    justify-content: center
    background-color: transparent
    border: 1px solid $text-color
    border-radius: toRem(24)
    color: $headers-color
    text-transform: uppercase
    transition: .3s

    &:hover
      color: $primary-color
      border-color: $primary-color

    &_normal
      cursor: pointer

    &_edit
      border-color: $primary-color

      input
        border-bottom: 1px solid $text-color