@use "./../../assets/style/params.sass" as *

.button
    border: 0
    border-radius: toRem(8)
    color: $headers-color
    padding: toRem(13) toRem(48)
    font-size: toRem(18)
    text-align: center
    display: inline-block
    cursor: pointer
    transition-duration: .3s

    &_primary
        background-color: $primary-color

        &:hover
            background-color: $dark-primary

        &:active
            filter: brightness(.7)

    &_secondary
        background-color: transparent
        border: 1px solid $primary-color

        &:hover
            background-color: $primary-ghost-color

        &:active
            filter: brightness(.7)